<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                nav {
                    ul {
                      margin: 0;
                      padding: 0;
                      list-style: none;
                    }
                  
                    li { display: inline-block; }
                  
                    a {
                      display: block;
                      padding: 6px 12px;
                      text-decoration: none;
                    }
                  }
            </div>
        </header>

        <main>
            <section>
                <form >
                    <input id="name" type="text" name="input" value=""  placeholder="Enter Article URL ....">
                    <input id="btnSubmit" type="submit" name="Submit" value="submit" >
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
</html>
